body {
  font-family: "JetBrains Mono", monospace;
  background-color: #121212;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
}

.character {
  display: flex;
  justify-content: space-between;
}

.character #length-value {
  color: #a4ffaf;
  font-size: 25px;
}

.checkbox-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.checkbox-group input[type="checkbox"] {
  margin-right: 10px;
  accent-color: #a4ffaf;
}

.checkbox-group label {
  font-size: 12px;
  color: #fff;
}

h1 {
  margin-bottom: 20px;
}

.password-output {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  border-radius: 5px;
  padding: 1px;
  margin-bottom: 20px;
}

.password-output input {
  background: none;
  border: none;
  color: #fff;
  width: 100%;
  outline: none;
  font-size: 1em;
}

.password-output button {
  background: none;
  border: none;
  cursor: pointer;
  color: #fff;
}

.options {
  text-align: left;
  margin-bottom: 20px;
}

.options label {
  display: block;
  margin-bottom: 5px;
}

.options input[type="range"] {
  width: 100%;
  accent-color: #a4ffaf;
}

.strength {
  display: flex;
  justify-content: space-between;
  background-color: #000000;
  height: 50px;
  width: 300px;
  margin-bottom: 20px;
}

#strength-label {
  font-size: 15px;
  margin: 3px;
  margin: 15px;
}

.strength-label {
  margin-left: 10px;
  font-size: 15px;
  margin: 15px;
  display: flex;
  gap: 80px;
}

.strength-label span:first-child {
  font-size: 0.8rem;
  font-weight: bold;
  margin-right: 5px;
}

#strength-indicator {
  display: flex;
  margin-top: 15px;
  margin-right: 5px;
  gap: 5px;
}

.strip {
  width: 5px;
  height: 20px;
  background-color: #333;
}

.strip.weak {
  background-color: #ff0000;
}

.strip.medium {
  background-color: #ffc107;
}

.strip.strong {
  background-color: #28a745;
}

#strength-label.weak {
  color: #ff0000;
  margin-left: 100px;
}

#strength-label.medium {
  color: #d3a418;
  margin-left: 80px;
}

#strength-label.strong {
  color: #28a745;
  margin-left: 80px;
}

button#generate {
  background-color: #a4ffaf;
  border: none;
  padding: 10px;
  color: #000000;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  font-weight: bold;
}

button#generate:hover {
  background-color: #ffffff;
}

#generate svg {
  margin-left: 10px;
}
