body {
  font-family: "JetBrains Mono", monospace;
  background-color: #121212;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
}

.character {
  display: flex;
  justify-content: space-between;
}

.character #length-value {
  color: #a4ffaf;
  font-size: 25px;
}

.checkbox-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.checkbox-group input[type="checkbox"] {
  margin-right: 10px;
  accent-color: #a4ffaf;
}

.checkbox-group label {
  font-size: 12px;
  color: #fff;
}

h1 {
  margin-bottom: 20px;
}

.password-output {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  border-radius: 5px;
  padding: 2px;
  margin-bottom: 20px;
}

.password-output input {
  background: none;
  border: none;
  color: #fff;
  width: 100%;
  outline: none;
  font-size: 1.2em;
}
